@media(max-width:992px) {
    .header__button {
        display: block;
    }
}

@media(max-width:992px) {
    .img__slider {
        filter: opacity(0.5);
    }
    
    .header__input {
        flex-direction: column;
    }
}

@media(max-width:444px) {
    .button__header {
       margin-left: 110px;
    }
    
    .footer__title {
        display: flex;
        justify-content: center;
    }
    
    .footer__input {
        max-width: 300px;
        margin-left: 65px;
    }
}